html, body{
    height:100%;
    width:100%;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
    margin-left: 35px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

footer{
    margin-top: 20px;
/*    position: fixed;
    bottom: 0; */
}

.cap_first_letter{
    text-transform:capitalize;
}

.panel-heading span{
    font-size: 20px;
}

.body-border{
    border: 1px solid #0026ff;
    border-radius: 5px;
}

/*border Left,Bottom,Right*/
.border_lbr{
    height: 200px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 25px 0px 15px 0px;
    list-style: none;
}

.currentCourseList{
    margin: 10px 0 5px 0;
    width:100%;
    height:135px;
    border: 2px solid #808080;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor:pointer;
}

.currentCourseList:hover{
    background-color: #f7f7e9;
    border: 4px solid #ff0000;
}

